doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      h1 Dashboard
    section
      p= message
      p You can now track earthquakes.
    footer
      p &copy; 2024 Earthquake Tracker
