doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      h1 Earthquake Tracker
      nav
        a(href='/auth/login') Login
        a(href='/auth/register') Register
    section
      h2 Welcome to Earthquake Tracker
      p Track recent earthquakes in real-time.
    footer
      p &copy; 2024 Earthquake Tracker
